<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{{ config.get_name() }}</title>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='layout.css') }}">
    {% block resources %}
    {% endblock resources %}
  </head>
  <body id="{% block navigation %}home{% endblock navigation %}">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">{{ config.get_name() }}</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
              <li><a href="/" class="home">Home</a></li>
			  <li><a href="/about" class="about">About</a></li>
              <li><a href="/data" class="data">Data</a></li>
              <li><a href="/subscriptions" class="subscribe">Subscriptions</a></li>
              <li class="dropdown">
                <a href="#" class="developers dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Developers <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a class="api" href="/static/apidoc/index.html" target="_blank">REST API Documentation</a></li>
                  <li><a class="tutorial_sensors" href="/tutorial/sensors">Custom Sensors</a></li>
                  <li><a class="tutorial_notifications" href="/tutorial/notifications">Custom Notification Services</a></li>
                </ul>
			  </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="config dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Administration <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a class="config_settings" href="/config">Settings</a></li>
                  <li><a class="config_password" href="/config/password">Password</a></li>
                  <li><a class="config_sensors" href="/config/sensors">Sensors</a></li>
                  <li><a class="config_locations" href="/config/locations">Locations</a></li>
                  <li><a class="config_notifications" href="/config/notifications">Notification Services</a></li>
                </ul>
			  </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <div class="container">
      {% block content %}
      {% endblock content %}
    </div><!-- /.container -->

  </body>
</html>
