[Config]
name = default
location = 1
interval = 30
password = admin
dbhost = localhost
dbuser = 
dbpw = 
dbname = 
port = 5000

[Default]
name = gwot-physical-device
location = 0
interval = 30
password = admin
dbhost = 
dbuser = 
dbpw = 
dbname = 
port = 5000
