{% extends "base/frontend.html" %}

{% block navigation %}about{% endblock navigation %}

{% block content %}

<div>
	<div>
		<div class="panel panel-default">
				<div class="panel-heading">
					<h3>Project description</h3>
				</div>
				<div class="panel-body">
					This study project was done within Web of Things course in <a href="https://www.uni-muenster.de/Geoinformatics">Institute for Geoinformatics University of Muenster.</a><br/><br/>
					The goal of the project is to investigate the possibility of using low cost sensors in context of Web of Things for water level measurements.<br/>
					Our team implemented the concept of "physical smart thing", what means that the device has all functionality<br/>
					on it (e.g. server, database, mqtt broker, frontend templates, notifiers, setup).<br/>
					<br/>
					Smart device based on Raspberry Pi was installed at <a href="http://www.openstreetmap.org/#map=19/51.97340/7.70024">Werse river.</a>
					<br/>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3>Project contributers</h3>
				</div>
				<div class="list-group">
					<a href="https://github.com/m-mohr" class="list-group-item">Matthias Mohr</a>
					<a href="https://github.com/JanVan01" class="list-group-item">Jan Van Zadelhoff</a>
					<a href="https://github.com/Trzaska" class="list-group-item">Nicklas Trzaska</a>
					<a href="https://github.com/olegvstepanov" class="list-group-item">Oleg Stepanov</a>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3>Licenses</h3>
			</div>
			<div class="panel-body">
				<h4><b>Code and derivatives</b></h4>
				<hr/>
				<a href="https://www.gnu.org/licenses/lgpl-3.0-standalone.html"><img alt="LGPL 3" src="https://www.gnu.org/graphics/lgplv3-147x51.png" /></a><br/>
				<h5>GNU LESSER GENERAL PUBLIC LICENSE</h5>
				<p>
					The code is distributed under LGPL: you can redistribute it and/or modify it under the terms of the <a href="https://www.gnu.org/licenses/lgpl-3.0-standalone.html">GNU Lesser General Public License</a> as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
				</p>
				<p>
					The code is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
				</p>
				<p>
					You can find a copy of the GNU Lesser General Public License at <a href="https://github.com/JanVan01/gwot-physical">project directory on GitHub</a> If not, see http://www.gnu.org/licenses/.
				</p>
			</div>
			<hr/>
			<div class="panel-body panel-no-pad">
				<h4><b>Sensors measurements</b></h4>
				<hr/>
				<a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png"/></a><br/>Sensor measurements are licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
				<br/>
			</div>
		</div>
	</div>

{% endblock content %}
