{% extends "base/frontend.html" %}

{% block navigation %}config_password{% endblock navigation %}

{% block content %}
<h2>Set your password</h2>
<form>
  <table>
    <tr><td><label for="password">New Password</label></td><td><input type="password" name="password"></td></tr>
    <tr><td><button  class="btn btn-default" onclick="submit_form('/api/1.0/config/location', 'PUT')">Set Password</button></td></tr>
  </table>
</form>
<script src="{{ url_for('static', filename='js/submit.js') }}"></script>

{% endblock content %}
