{% extends "base/admin.html" %}

{% block navigation %}config_locations{% endblock navigation %}

{% block admin_resources %}
<link rel="stylesheet" type="text/css" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
<script type="text/javascript">
	$(function() {
		create_location_chooser_map();
	});
</script>
{% endblock admin_resources %}

{% block admin_content %}
<div class="panel panel-default">
	<div class="panel-heading">
		{% if data.edit %}
		<h1 class="panel-title">Edit Location</h1>
		{% else %}
		<h1 class="panel-title">Add Location</h1>
		{% endif %}
	</div>
	<div class="panel-body">
		<form id="ajax_form" onsubmit="change_location({% if data.edit %}{{data.location.get_id()}}{% endif %}); return false;">
			<div class="form-group">
				<label for="name">Name:</label>
				<input type="text" id="name" name="name" class="form-control" value="{% if data.edit %}{{data.location.get_name()}}{% endif %}">
			</div>
			<div class="form-group">
				<label for="lat">Location:</label>
				<div id="map" style="height: 400px;"></div>
				<input type="hidden" id="lat" name="lat" value="{% if data.edit %}{{data.location.get_latitude()}}{% endif %}">
				<input type="hidden" id="lon" name="lon" value="{% if data.edit %}{{data.location.get_longitude()}}{% endif %}">
			</div>
			<div class="form-group">
				<label for="height">Height (cm):</label>
				<input type="number" class="form-control" id="height" name="height" value="{% if data.edit %}{{data.location.get_height()}}{% endif %}">
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
</div>
{% endblock admin_content %}
