{% extends "base/admin.html" %}

{% block navigation %}config_settings{% endblock navigation %}

{% block admin_content %}
<div id="alert"></div>
<div class="panel panel-default">
	<div class="panel-heading">
		<h1 class="panel-title">Edit Config</h1>
	</div>
	<div class="panel-body">
    <form id="ajax_form" onsubmit="update_config(); return false;">
      <div class="form-group">
        <label for="name"> Name</label>
        <input type="text" class="form-control" id="name" name="name" value={{data.name}}>
      </div>
      <div class="form-group">
        <label for="interval"> Interval</label>
        <input type="number" class="form-control" id="interval" name="interval" value={{data.interval}}>
      </div>
      <div class="form-group">
        <label for="location"> Location</label>
        <select class="form-control" id="location" name="location">
          {% for location in data.all_locations %}
          <option value={{location.id}}>{{location.name}}</option>
          {% endfor %}
        </select>
      </div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
  </div>
</div>
{% endblock admin_content %}
