{% extends "base/admin.html" %}

{% block navigation %}config_locations{% endblock navigation %}

{% block admin_resources %}
<link rel="stylesheet" type="text/css" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
{% set comma = joiner(",") %}
<script>
	var locations = [
		{% for location in data.locations %}
		{{ comma() }} { name: '{{ location.get_name() }}', lat: {{ location.get_latitude() }}, lon:  {{ location.get_longitude() }} }
		{% endfor %}
	];
	$(function() {
		create_location_map(locations);
	});
</script>
{% endblock admin_resources %}

{% block admin_content %}
{% if not data.mode %}
<div class="panel panel-default admin-dashboard">
	<div class="panel-heading clearfix">
		<h1 class="panel-title pull-left">Locations</h1>
		<a href="/config/locations?mode=add" class="btn btn-xs btn-success pull-right"><span class="glyphicon glyphicon-plus"></span> Add</a>
	</div>
	<div class="table-responsive">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Name</th>
					<th>Longitude</th>
					<th>Latitude</th>
					<th>Height</th>
					<th>Active</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				{% for location in data.locations %}
				<tr>
					<td>{{ location.get_name() }}</td>
					<td>{{ location.get_longitude() }}</td>
					<td>{{ location.get_latitude() }}</td>
					<td>{{ location.get_height() }}</td>
					<td>
						{% if location.get_id() == data.default_location %}
						<span class="text-success glyphicon glyphicon-ok" aria-hidden="true"></span>
						{% else %}
						<span class="text-danger glyphicon glyphicon-remove" aria-hidden="true"></span>
						{% endif %}
					</td>
					<td class="text-right">
						<a href="javascript:show_marker_on_location_map({{ loop.index0 }});" class="btn btn-xs btn-info"><span class="glyphicon glyphicon-map-marker"></span> Show on Map</a>
						<a href="/config/locations?mode=edit&id={{ location.get_id() }}" class="btn btn-xs btn-warning"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
						<a href="javascript:remove_location({{ location.get_id() }})" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-trash"></span> Remove</a>
					</td>
				</tr>
				{% else %}
				<tr>
					<td colspan="6" class="text-center">No locations available.</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
<div class="panel panel-default admin-dashboard">
	<div class="panel-heading">
		<h2 class="panel-title">Map</h2>
	</div>
	<div class="panel-body" id="map" style="height: 500px;">

	</div>
</div>
{% else %}
<div id="alert"></div>
<div class="panel panel-default">
	<div class="panel-heading">
		{% if data.mode == 'edit' %}
		<h1 class="panel-title">Edit Location</h1>
		{% else %}
		<h1 class="panel-title">New Location</h1>
		{% endif %}
	</div>
	<div class="panel-body">
		<form id="ajax_form" onsubmit="change_password(); return false;">
			{% if data.mode =='edit' %}
			<div class="form-group">
			  <label for="id"> ID:</label>
			  <input type="text" id="id" name="id" class="form-control" value="{{data.location.get_id()" }} readonly="readonly">
			</div>
		  {% endif %}
			<div class="form-group">
			  <label for="name"> Name:</label>
			  <input type="text" id="name" name="name" class="form-control" value="{{data.location.get_name()}}">
			</div>
			<div class="form-group">
			  <label for="lat"> Latitude:</label>
			  <input type="number" id="lat" name="lat" class="form-control" value="{{data.location.get_latitude()}}">
			</div>
			<div class="form-group">
			  <label for="lon"> Longitude:</label>
			  <input type="number" id="lon" name="lon" class="form-control" value="{{data.location.get_longitude()}}">
			</div>
			<div class="form-group">
			  <label for="height"> Height:</label>
			  <input type="number" class="form-control" id="height" name="height" value="{{data.location.get_height()}}">
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
</div>
{% endif %}
{% endblock admin_content %}
