{% extends "base/frontend.html" %}

{% block navigation %}
<li><a href="/">Home</a></li>
<li><a href="/data">Data</a></li>
<li class="active"><a href="/config">Config</a></li>
<li><a href="/about">About</a></li>
{% endblock navigation %}

{% block content %}
<h2>Edit Config</h2>
<form>
  <label for="name"> Name:</label>
  <input type="text" id="name" name="name" class="form-control" value={{data.name}}>
  <label for="interval"> Interval:</label>
  <input type="number" id="interval" name="interval" class="form-control" value={{data.interval}}>
  <label for="location"> Location:</label>
  <select id="interval" class="form-control" name="location">
    {% for location in data.all_locations %}
    <option value={{location.id}}>{{location.name}}</option>
    {% endfor %}
  </select>
  <a class="btn btn-default" href="/config/locations">add new location</a>
  <input type=submit class="btn btn-default" value="Save Changes">
</form>
<script>
$('form').on('submit',function (event){
    alert('blub');
    event.preventDefault();
    form = $(this);
    console.log(form.serializeArray());
    formdata = JSON.stringify(form.serializeArray()
        .reduce(function(a, x) { a[x.name] = x.value; return a; }, {}));
    console.log(formdata);
    $.ajax({
        url:'/api/1.0/config',
        cache: false,
        type: 'PUT',
        contentType: 'application/json',
        dataType:'json',
        data : formdata,
        success: function() {
            form.find("input[type=text], input[type=password], input[type=number]").val("");
        },
        error: function() {
            form.find("input[type=text], input[type=password]").val("");
        }
    });
});
</script>
{% endblock content %}
