{% extends "base/admin.html" %}

{% block navigation %}config_password{% endblock navigation %}

{% block admin_content %}
<div id="alert"></div>
<div class="panel panel-default">
	<div class="panel-heading">
		<h1 class="panel-title">Change password</h1>
	</div>
	<div class="panel-body">
		<form id="ajax_form" onsubmit="change_password(); return false;">
			<div class="form-group">
				<label for="username">User name</label>
				<input type="text" class="form-control" id="username" name="username" readonly="readonly" value="admin">
			</div>
			<div class="form-group">
				<label for="password">New password</label>
				<input type="password" class="form-control" id="password" name="password" placeholder="Password">
			</div>
			<div class="form-group">
				<label for="password2">Repeat new password</label>
				<input type="password" class="form-control" id="password2" name="password2" placeholder="Password">
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
</div>
{% endblock admin_content %}
