{% extends "base/frontend.html" %}

{% block navigation %}config{% endblock navigation %}

{% block content %}
{% if data.mode == 'edit' %}
<h2>Edit Sensor</h2>
{% else %}
<h2>New Sensor</h2>
{% endif %}
<form>
  {% if data.mode =='edit' %}
  <label for="id"> ID:</label>
  <input type="text" id="id" name="id" class="form-control" value={{data.id}} readonly>
  {% endif %}
  <label for="module"> Module:</label>
  <input type="text" id="module" name="module" class="form-control" value={{data.module}}>
  <label for="class_name"> Class:</label>
  <input type="text" id="class_name" name="class_name" class="form-control" value={{data.class_name}}>
  <label for="type"> Type:</label>
  <input type="text" id="type" name="type" class="form-control" value={{data.type}}>
  <label for="description"> Description:</label>
  <input type="text" id="description" name="description" class="form-control" value={{data.description}}>
  <label for="unit"> Unit:</label>
  <input type="text" id="unit" name="unit" class="form-control" value={{data.unit}}>
</form>
<script src="{{ url_for('static', filename='js/submit.js') }}"></script>
{% if data.mode == 'edit' %}
<button  class="btn btn-default" onclick="submit_form('/api/1.0/config/sensor', 'PUT')">Save Changes</button>
{% else %}
<button  class="btn btn-default" onclick="submit_form('/api/1.0/config/sensor', 'POST')">Create new Sensor</button>
{% endif %}
{% endblock content %}
