{% extends "base/admin.html" %}

{% block navigation %}config_sensors{% endblock navigation %}

{% block admin_content %}
<div class="panel panel-default">
	<div class="panel-heading">
		{% if data.edit %}
		<h1 class="panel-title">Edit Sensor</h1>
		{% else %}
		<h1 class="panel-title">Add Sensor</h1>
		{% endif %}
	</div>
	<div class="panel-body">
		<form id="ajax_form" onsubmit="change_sensor({% if data.edit %}{{data.sensor.get_id()}}{% endif %}); return false;">
			<div class="form-group">
				<label for="module">Module:</label>
				<input type="text" id="module" name="module" class="form-control" value="{{data.sensor_module}}" readonly="readonly">
			</div>
			<div class="form-group">
				<label for="type">Type:</label>
				<input type="text" id="type" name="type" class="form-control" value="{% if data.edit %}{{data.sensor.get_type()}}{% endif %}">
			</div>
			<div class="form-group">
				<label for="description">Description:</label>
				<input type="text" id="description" name="description" class="form-control" value="{% if data.edit %}{{data.sensor.get_description()}}{% endif %}">
			</div>
			<div class="form-group">
				<label for="unit">Unit:</label>
				<input type="text" id="unit" name="unit" class="form-control" value="{% if data.edit %}{{data.sensor.get_unit()}}{% endif %}">
			</div>
			{% for key in data.sensor_impl.get_setting_keys() %}
			<div class="form-group">
				<label for="{{ key }}">{{ data.sensor_impl.get_setting_name(key) }}:</label>
				{% if data.edit %}
				{{ data.sensor_impl.get_setting_html(key, data.sensor.get_setting(key)) | safe }}
				{% else %}
				{{ data.sensor_impl.get_setting_html(key) | safe }}
				{% endif %}
			</div>
			{% endfor %}
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
</div>
{% endblock admin_content %}
