{% extends "base/admin.html" %}

{% block navigation %}config_settings{% endblock navigation %}

{% block admin_content %}
  <div class="panel panel-default">
  	<div class="panel-heading clearfix">
  		<h1 class="panel-title pull-left">Config</h1>
      <a href="/config?mode=edit" class="btn btn-xs btn-warning pull-right"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
  	</div>
  	<div class="panel-body">
      <div class="table-responsive">
    		<table class="table table-hover">
          <tbody>
            <tr>
              <td><strong>Name:</strong></td>
              <td>{{ data.name }}</td>
            </tr>
            <tr>
              <td><strong>Interval:</strong></td>
              <td>{{ data.interval }}</td>
            </tr>
            <tr>
              <td><strong>Location:</strong></td>
              <td><table>
                <tr>
                  <td>Name:</td>
                  <td>{{ data.location.name }}</td>
                </tr>
                <tr>
                  <td>ID:</td>
                  <td>{{data.location.id}}</td>
                </tr>
                <tr>
                  <td>Latitude:</td>
                  <td>{{data.location.lat}}</td>
                </tr>
                <tr>
                  <td>Longitude:</td>
                  <td>{{data.location.lon}}</td>
                </tr>
                <tr>
                  <td>Height:</td>
                  <td>{{data.location.height}}</td>
                </tr>
              </table>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <h2></h2>
  <table class="config_info">
    <tr>
      <td>Name:</td>
      <td>{{ data.name }}</td>
    </tr>
    <tr>
      <td>Password:</td>
      <td><a class="btn btn-default" href="/config/password">New Password</a></td>
    </tr>
    <tr>
      <td>Interval:</td>
      <td>{{ data.interval }}</td>
    </tr>
    <tr>
      <td>Location:</td>
      <td><table>
        <tr>
          <td>Name:</td>
          <td>{{ data.location.name }}</td>
        </tr>
        <tr>
          <td>ID:</td>
          <td>{{data.location.id}}</td>
        </tr>
        <tr>
          <td>Latitude:</td>
          <td>{{data.location.lat}}</td>
        </tr>
        <tr>
          <td>Longitude:</td>
          <td>{{data.location.lon}}</td>
        </tr>
        <tr>
          <td>Height:</td>
          <td>{{data.location.height}}</td>
        </tr>
        <a class="btn btn-default" href="/config/locations?mode=edit&id={{data.location.id}}">edit location</a>
      </table></td>
    </tr>
    <tr><td></td>
      <td><a class="btn btn-default" href="/config?mode=edit">Edit config</a></td>
    </tr>
  </table>
  <h4>Sensors:</h4>
  <a class="btn btn-default" href="/config/sensors">Add new Sensor</a>
  {% for sensor in data.sensors %}
  <table>
    <tr>
      <td>Type:</td>
      <td>{{ sensor.type }}</td>
    </tr>
    <tr>
      <td>Description:</td>
      <td>{{sensor.description}}</td>
    </tr>
    <tr>
      <td>ID:</td>
      <td>{{sensor.id}}</td>
    </tr>
  </table>
  <a class="btn btn-default" href="/config/sensors?mode=edit&id={{sensor.id}}">Edit this Sensor</a>
  {% endfor %}
{% endblock admin_content %}
