{% extends "base/frontend.html" %}

{% block resources%}
  <link href="//cdnjs.cloudflare.com/ajax/libs/c3/0.1.29/c3.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />

  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.11/d3.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/c3/0.1.29/c3.js"></script>
  <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
{% endblock resources%}

{% block navigation %}
<li class="active"><a href="/">Home</a></li>
<li><a href="/data">Data</a></li>
<li><a href="/config">Config</a></li>
<li><a href="/about">About</a></li>
{% endblock navigation %}

{% block content %}
<div class="container-fluid" style="">
  <div class="row">

    <div class="col-sm-6">
		Minimum yearly: {{ data.minYearly }}
    </div>

  </div>
</div>
{% endblock content %}
