<!DOCTYPE html>
<html lang="en">
<head>
    <title>Geospatial Web of Things: Physical Smart Device</title>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='layout.css') }}">
</head>
<body>
    <h1>Geospatial Web of Things: Physical Smart Device Overview</h1>
    <div id="chart"></div>
    <script>
    var data = {{ data }};
    var chart function(){
      bindto: '#chart',
      data.forEach(function(entry){
        console.log(entry);
      })
    }
    </script>

</body>
</html>
