<!DOCTYPE html>
<html lang="en">
<head>
    <title>Geospatial Web of Things: Physical Smart Device</title>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='layout.css') }}">
</head>
<body>
    <h1>Geospatial Web of Things: Physical Smart Device</h1>
    {%if 'message' in data %}
    {{data.message}}
    {%endif%}
    <h2>Set your password</h2>
    <form method="post">
      <label for="password">New Password</label>
      <input type="password" name="password">
      <input type="submit" value ="set new password">
    </form>
</body>
</html>
