<!DOCTYPE html>
<html lang="en">
<head>
    <title>Geospatial Web of Things: Physical Smart Device</title>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='layout.css') }}">
  <script src="https://code.jquery.com/jquery-3.0.0.min.js" integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0=" crossorigin="anonymous"></script>
</head>
<body>
    <h1>Geospatial Web of Things: Physical Smart Device</h1>
    {%if 'message' in data %}
    {{data.message}}
    {%endif%}
    <h2>Set your password</h2>
    <form method="post" id="form">
      <div id="message" hidden="true" style="padding:4px"></div>
      <label for="password">New Password</label>
      <input type="password" name="password">
      <input type="submit" value ="set new password">
    </form>
</body>
</html>
<script type="text/javascript">
  $('#form').on('submit',function (event) {
      event.preventDefault();
      form = $(this);
      formdata = JSON.stringify(form.serializeArray()
          .reduce(function(a, x) { a[x.name] = x.value; return a; }, {}));
      $.ajax({
          cache: false,
          type: 'PUT',
          contentType: 'application/json',
          dataType:'json',
          data : formdata,
          success: function() {
              form.find("input[type=text], input[type=password]").val("");
              form.find('#message').show()
                .text('Password changed')
                .css('background-color', 'lightgreen')
          },
          error: function() {
              form.find("input[type=text], input[type=password]").val("");
              form.find('#message').show()
                .text('There was an error the password was not changed')
                .css('background-color', 'red')
          }
      });
  });
</script>
